body{
  padding-bottom: 50px;
}
h1{
  font-family: 'Amatic SC', cursive;
  font-size: 60px;
  text-align: center;
}
h2{
  font-family: 'Amatic SC', cursive;
  font-size: 35px;
  font-style: italic;
  text-align: center;
}
p{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.5em;
  margin: 50px;
  text-align: center;
  line-height: 32px;
}
.image-bg{
  padding: 10px;
  color: white;

  background-image: url("../images/bg-image.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;

  text-align: center;

  padding-top: 100px;
}
.paragraph-bg{
  padding: 10px;
  color: white;

  background-image: url("../images/cutting-board-bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;

  text-align: center;

  padding-top: 100px;
}
.col-sm-4{
  line-height: 32px;

  font-family: 'Amatic SC', cursive;
  font-size: 20px;
}
.jumbotron{
  font-family: 'Amatic SC', cursive;
}
#nav{
  border:1px solid black;
  margin-right:auto;
  margin-left: auto;
  margin-bottom: 50px;
  padding: 10px;

  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.3em;

  text-align: center;
  max-width: 200px;

}
